input[type="number"] {
  max-width: 80%;
}

.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

.coverDiv {
  background-repeat: no-repeat; 
  background-image: url("NYC.jpg");
  background-size: 100% 100%;
  background-position: top right;
  background-attachment: fixed;
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

.coverTextDiv {
  color: rgb(40, 55, 71);
  background-color: rgb(248, 249, 249);
  background-color: rgba(248, 249, 249, 0.6);
}
